<div id="<%= dom_id product %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Price:</strong>
    <%= product.price %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Category:</strong>
    <%= product.category_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Availability:</strong>
    <%= product.availability? ? "Yes" : "No" %>
  </div>
</div>
